/* root: criação de variaveis */
/* "." puxa classe, "#" puxa ID*/
:root{
    --cor-principal: #EA1C81;
    --cor-header: rgba(216, 241, 251, 0.51);
    --cor-preta: #000 ; 
    --cor-branca: white; 
    --cor--fundo: #FAFBFF;
    --cor--botao1: #1CF365;
    --cor--botao: #DF2F2F;
    --cor-vermelha: #c904044e;
    --cor-verde: #00d1465e;
    --cor-amarela: #bbd30861;
    --cor-cinzaazul: #365e8f4a;
    --cor-headerescurinho: rgba(216, 241, 251, 0.8);
}

*{
    margin: 0px;
    padding: 0px;
    /* transition: define o tempo q vai demorar pra decoração sumir */
    transition: all 1s;
    font-family: 'Quicksand', sans-serif !important;
    box-sizing: border-box;
    transition: all 0.3s;
    font-family: 'Quicksand', sans-serif;
}



#header{
    /* background-colors muda a cor do fundo */
    background-color: var(--cor-header);
    /* display mexe com o posicionamento */
    display: flex;
    /* justfy content muda o posicionamento de algo. mexe no eixo x */
    justify-content: space-between;
    /* padding muda o espaço em volta de algo */
    /* align: mexe no eixo y */
    align-items: center;
}

#header nav a{

    text-decoration: none;
    color: var(--cor-preta) ;
    font-family: 'Quicksand', sans-serif;
    border-radius: 25px;
}

#header nav a:hover{
    /* hover: quando eu passar o mouse em cima, executa algo */
    background-color: var(--cor-principal);
    color: var(--cor-branca);
}


#header nav #user img{
    position: absolute;
    width: 63px;
    height: 49px;
    right: 124px;
    top: 7px;
    
}

.user{
    width: 30px;
    height: 30px;
    margin-bottom: -10px;
}


.marginlateral{
    margin: 0px 20px;
}

main #banner{
    background-image: url("../img/Banner.png");
    /* o 'calc' caucula numeros em diferentes medidas, nesse caso ele está cauculando onde o banner deve começar, o 116 é resultado da soma entre a parte de cima e a de baixo com o numero dentro do elemneto computed do inspecionar do google */
    height: calc(100vh - 116px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.marginCimaBaixo{
    margin: 20px 0px;
}

main #banner h1{
    color: var(--cor-principal);
    font-size: 2em;
}


main #banner .marginCimaBaixo{
    margin-top: -25px;
}

main #banner button{
    background-color: var(--cor-principal);
    color: var(--cor-branca);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

main #banner button:hover{
    cursor: pointer;
}

header, main #banner button,
#header nav a:hover, 
#Bemvindos div,
main #beneficios #beneficios-nossosbeneficio h3{
    padding: 15px;
}

#Bemvindos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#Bemvindos #Bemvindos-boasvindas h3{
    color: var(--cor-principal);
    margin-bottom: 10px;
}

main #beneficios{
    background-color: var(--cor--fundo);
    color: var(--cor-principal)
}

main #beneficios #beneficios-nossosbeneficios h3{
    text-align: center;
    font-size: 1.5em;
}

    main #beneficios #beneficios-nossosbeneficios p{
        text-align: center;
        padding: 15px;
}

main #beneficios #beneficios-servicos{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

main #form{
    padding-top: 50px;
    padding-bottom: 50px;
}
main #form #form-texto{
    padding: 15px;
    text-align: center;
    font-size: 1em;
}

main #form #form-formularios form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main #form #form-formularios form input{
    box-shadow: 0px 4px 5px gray;
    display: block;
    padding: 15px;
    border: none;
    border-radius: 7px;
    width: 380px;
    margin-bottom: 10px;
}

main #form #form-formularios form button,
main #cadastro-endereco button{
    padding: 15px;
    border: none;
    background-color: var(--cor-principal);
    color: var(--cor-branca);
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
    margin-top: 20px;
}



main #form #form-formularios{
    background-image: url(../img/dog.png);
    background-repeat: no-repeat;
    background-size: contain;
}



#rodape{
    background-color: var(--cor-header);
    text-align: center;
    padding: 15px;
}


#whats img{
    position: fixed;
    width: 40px;
    height:40px;
    right: 10px;
    bottom: 10px;
}

#whats img:hover{
    /* hover: quando eu passar o mouse em cima, executa algo */
    width: 60px;
    height: 60px;

}

/* pagina de login ------------------------------------------------------------------------------------------------------------*/


main #forms{
    padding-top: 50px;
    padding-bottom: 50px;
}
main #forms #forms-texto{
    padding: 15px;
    text-align: center;
    font-size: 1em;
}

main #forms #forms-formularios form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main #forms #forms-formularios form input{
    display: block;
    padding: 15px;
    border: none;
    border-radius: 7px;
    border-bottom: 1px solid black;
    width: 380px;
    margin-bottom: 10px;
}

main #forms #forms-formularios form button,
#froms3 .butao button{
    padding: 15px;
    border: none;
    background-color: var(--cor-principal);
    color: var(--cor-branca);
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}



main #forms #forms-formularios{
    background-image: url(../img/gato\ vagabundo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* Pagina de consultas-------------------------------------------------------------------------------------------------------------------------------------------------------- */
.forms-consulta1{
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    gap: 20px;
}


.form-grid{
    display: grid;
    grid-template-columns: 7fr;
}

main h1{
    color: black;
    padding-bottom: 50px;
    font-family: 'Quicksand', sans-serif;
}

#froms3 label {
    display: block;
}

#froms3 input {
    border-radius: 20px;
    width: 100%;
} 

.main-consultas{
    padding: 35px;
}

#froms3 input{
    display: block;
    padding: 15px;
    border: 1px solid black;
    border-radius: 7px;
    /* border-bottom: 1px solid black; */
    /* width: 380px; */
    margin-bottom: 10px;
} 

#froms3 textarea{
    border-radius: 10PX;
    height: 300px;
    /* height: 400px;
    width: 1000px; */
    width: 100%;
}

.forms-consulta-hora{
    width: 100% !important;
}

.bSalvar{
    background-color: green !important;
}

.bCancelar{
    background-color: red !important;
}


main #forms{
    padding-top: 50px;
    padding-bottom: 50px;
}
main #registro #registro-texto{
    margin-top: -50px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.3em;
}

main #registro #registro-formulario form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main #registro #registro-formulario form input{
    display: block;
    padding: 15px;
    border: none;
    border-radius: 7px;
    border-bottom: 1px solid black;
    width: 380px;
    margin-bottom: 10px;
}

main #registro #registro-formulario form button{
    padding: 15px;
    border: none;
    background-color: var(--cor-principal);
    color: var(--cor-branca);
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

main #cadastro-texto{
    margin-top: 20px;
    margin-bottom: 30px;

}
main #registro h3{
    text-align: center;
    font-size: 1.5em;
    padding: 15px;
}
main #registro{
    padding-top: 50px;
    padding-bottom: 50px;
}
main #registro #registro-formulario form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
main #registro #registro-formulario form input{
    display: block;
    padding: 12px;
    border: none;
    border-radius: 7px;
    border-bottom: 1px solid black;
    width: 320px;
    margin-bottom: 10px;
}
main #registro #registro-formulario form button{
    padding: 15px;
    border: none;
    background-color: var(--cor-principal);
    color: var(--cor-branca);
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
}

#cadastro-endereco label{
    display: block;
}

main{
    padding: 35px;
}

main #cadastro-endereco{
    padding: 15px;
    border: none;
    background-color: var(--cor--principal);
    color: var(--cor--branca);
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
    margin-top: 20px;
}

main #cadastro-endereco input{
    display: block;
    padding: 12px;
    border: none;
    border-radius: 7px;
    border-bottom: 1px solid black;
    width: 90%;
    margin-bottom: 10px;
    box-shadow: 0px 5px 5px gray;
}

main #cadastro-endereco #linha1,
main #cadastro-endereco #linha2,
main #cadastro-endereco #linha3,
main #cadastro-endereco #linha4{
    margin: 20px;
    width: 90vw;
    display: grid;
}

main #cadastro-endereco #linha1{
    grid-template-columns: 3fr 2fr;
}

main #cadastro-endereco #linha2{
    grid-template-columns: 2fr 2fr 2fr 1fr;
}


main #cadastro-endereco #linha3{
    grid-template-columns: 2fr 2fr 1fr;
}

main #cadastro-endereco #linha4{
    grid-template-columns: 3fr 2fr;
}

main #cadastro-endereco #botoesespec{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

main #cadastro-endereco #botaosubmit{
    background-color: #1CF365;
    
.customHeader,
main #sidebar-opcoes{
    border-radius: 20px;
}

main #content-inf{
    display: grid;
    grid-template-columns: 25vw 75vw;
    top: 106px;
    height: calc(100vh - 106px);
}

main #sidebar-opcoes{
    background-color: var(--cor-headerescurinho);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #sidebar-opcoes div{
    height: 50px;
    margin-bottom: 10px;
    background-color: var(--cor-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 20px;
    margin-top: 10px;
}

main #sidebar-opcoes div a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    color: white;
}

main #informacoes-ui div{
    background-color: #fff;
    height: 82px;
    border-radius: 20px;
    margin: 10px;
    width: calc(48% - 60px);
    display: inline-block;
    padding: 20px;
}

main #informacoes-ui #CadastroClientes{
    border: 3px solid var(--cor-amarela);
}

main #informacoes-ui #CadastroUsuarios{
    border: 3px solid var(--cor-verde);
}

main #informacoes-ui #CadastroConsultas{
    border: 3px solid var(--cor-cinzaazul);
}

main #informacoes-ui #ConsultasCanceladas{
    border: 3px solid var(--cor-vermelha);
}

main #cadastro-endereco #botaoreset{
    background-color: #DF2F2F;
}